:root, :root [data-md-color-scheme="slate"] {
    --hl-class-bg-color: #232525;
    --hl-class-fg-color: #fff;
    --hl-var-fg-color: #987597;
    --hl-method-fg-color: #eebb53;
    --hl-comment-fg-color: #7c776d;
    --hl-string-fg-color: #678249;
    --hl-comm-fg-color: #c77632;
}
[data-md-color-primary="white"] {
    --hl-class-bg-color: #eee;
    --hl-class-fg-color: #000;
    --hl-var-fg-color: #693366;
    --hl-method-fg-color: #80621e;
    --hl-comment-fg-color: #adadcd;
    --hl-string-fg-color: #324815;
    --hl-comm-fg-color: #a24900;
}

.highlight .nv {
    color: var(--hl-var-fg-color);
}
.highlight .na {
    color: var(--hl-method-fg-color);
}
.highlight .nx {
    color: var(--hl-class-fg-color);
}
.highlight .k {
    color: var(--hl-comm-fg-color);
}
.highlight .c1 {
    color: var(--hl-comment-fg-color);
}
.highlight .s1 {
    color: var(--hl-string-fg-color);
}
.md-typeset .highlight pre code {
    background-color: var(--hl-class-bg-color);
}
